<%- welcome %>
 <!-- Carousel
 ================================================== -->
 <div id="myCarousel" class="carousel slide">
   <div class="carousel-inner">
      <div class="item active">
         <img src="/images/slide-01.jpg" alt="">
         <div class="container">
            <div class="carousel-caption">
               <h1>Latest Call Headline.</h1>
               <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
               <a class="btn btn-large btn-primary" href="#">Join to this call</a>
           </div>
       </div>
   </div>
   <div class="item">
     <img src="http://placehold.it/2000x700/333/fff/&amp;text=/" alt="">
     <div class="container">
        <div class="carousel-caption">
           <h1>Another Call headline.</h1>
           <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           <a class="btn btn-large btn-primary" href="#">Learn more</a>
       </div>
   </div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


<div class="span4 pagination-centered">
  <div class="tile">
    <img class="img-circle" alt="" src="http://placehold.it/200x200/95A5A6/fff/&amp;text=CI">
    <h3 class="tile-title">Circles</h3>
    <p>We want to bring together groups with very diverse participant groups, ages 8 to 80.</p>
    <a class="btn btn-primary btn-large btn-block " href="#">See the Circles</a>
</div>
</div>
<div class="span4 pagination-centered">
  <div class="tile">
    <img class="img-circle" alt="" src="http://placehold.it/200x200/95A5A6/fff/&amp;text=CA">
    <h3 class="tile-title">Calls</h3>
    <p>We want to bring together groups with very diverse participant groups, ages 8 to 80.</p>
    <a class="btn btn-primary btn-large btn-block " href="#">See the Calls</a>
</div>
</div>
<div class="span4 pagination-centered">
  <div class="tile">
    <img class="img-circle" alt="" src="http://placehold.it/200x200/95A5A6/fff/&amp;text=PR">
    <h3 class="tile-title">Projects</h3>
    <p>We want to bring together groups with very diverse participant groups, ages 8 to 80.</p>
    <a class="btn btn-primary btn-large btn-block " href="#">See the Projects</a>
</div>
</div>