<!-- <%- welcome %> -->
 <!-- Carousel
 ================================================== -->




 <div id="carouselMain" class="carousel slide">
   <div class="carousel-inner">


<%
  var style = 'item active';
  carousel.contents.forEach(function(item) {
%>

  <div class="<%- style %>">
    <img src="/api/media/<%- item.get('image') %>" alt="">
    <div class="container">
      <div class="carousel-caption">
         <h1><%- item.title %></h1>
         <p class="lead"><%- item.teaser %></p>
         <a class="btn btn-large btn-primary" href="<%- item.get('link') %>">Learn more</a>
     </div>
    </div>
  </div>

<%
    style = 'item';
  });
%>





</div>
<a href="#carouselMain" id="slide-left" style="display: inline;" data-slide="prev"></a>
<a href="#carouselMain" id="slide-right" style="display: inline;" data-slide="next"></a>
</div><!-- /.carousel -->

<!-- <div class="divider"></div> -->

<div class"row">
    <div class="span4 pagination-centered">
      <div class="box">
        <img class="img-circle" alt="" src="/images/home/03.jpg">
        <h3 class="tile-title">Circles</h3>
        <p>Create or join a new circle and be part of the eCrafting community.</p>
        <a class="btn btn-browse btn-large btn-block " href="/circles/list">See the Circles</a>
    </div>
    </div>
    <div class="span4 pagination-centered">
      <div class="box">
        <img class="img-circle" alt="" src="/images/home/02.jpg">
        <h3 class="tile-title">Calls</h3>
        <p>Browse recent activities and workshops or start one on your own.</p>
        <a class="btn btn-browse btn-large btn-block " href="/calls/list">See the Calls</a>
    </div>
    </div>
    <div class="span4 pagination-centered">
      <div class="box">
        <img class="img-circle" alt="" src="/images/home/01.jpg">
        <h3 class="tile-title">Projects</h3>
        <p>Post designs, curriculum, and pictures from your latest workshops.</p>
        <a class="btn btn-browse btn-large btn-block " href="/projects/list">See the Projects</a>
    </div>
    </div>
</div>    