<!-- <%- welcome %> -->
 <!-- Carousel
 ================================================== -->




 <div id="carouselMain" class="carousel slide">
   <div class="carousel-inner">


<%
  var style = 'item active';
  carousel.contents.forEach(function(item) {
%>

  <div class="<%- style %>">
    <img src="/api/media/<%- item.get('image') %>" alt="">
    <div class="container">
      <div class="carousel-caption">
         <h1><%- item.title %></h1>
         <p class="lead"><%- item.teaser %></p>
         <a class="btn btn-large btn-primary" href="<%- item.get('link') %>">Learn more</a>
     </div>
    </div>
  </div>

<%
    style = 'item';
  });
%>





</div>
<a href="#carouselMain" id="slide-left" style="display: inline;" data-slide="prev"></a>
<a href="#carouselMain" id="slide-right" style="display: inline;" data-slide="next"></a>
</div><!-- /.carousel -->

<!-- <div class="divider"></div> -->

<div class="row">
<div class="span4 pagination-centered">
    <div class="box">
        <img class="img-circle" alt="" src="/api/media/<%- current.get('image') %>">
        <h3 class="tile-title">Current Call</h3>
        <p><%- current.teaser %></p>
        <a class="btn btn-browse btn-large btn-block " href="<%- current.get('link') %>">Join This Call</a>
    </div>
</div>
</div>