<div id="user-login">
    <link rel="stylesheet" href="/css/login-icons.css"/>
    <% if(user.anonymous) { %>

    <%- form %>

    <a href="javascript:void(0)" onclick="ecr.page.forgotPassword();">Forgot Password</a>

    <% } else { %>

    <h2><%- t("{name} Profile",{name:user.username}) %></h2>
    <% if(user) { %>
    <a href="/user"><%- user.username %></a>
    <span class="link-divider">|</span>
    <a href="/user/logout">Logout</a>
    <% } %>

    <% } %>
</div>

<script src="/js/ecr.page.login.js"></script>
<script type="text/javascript">
//<![CDATA[

    $(document).ready(function () {
        ecr.load();
        ecr.page = new ecr.page.Page();
        ecr.page.initialize();
    });
//]]>
</script>

