<div class="content-item">
    <h1><a href="/user/profile/<%= item.id %>"><%=  item.fullname %></a></h1>
    <%
    if (item.image) {
        %>
            <img src="/api/media/<%- item.image %>.mini" />
        <%
    }
    %>

    <% if (false && display.email) { %>
    <p><a href='mailto:<%- display.email %>'><%= display.email %></a></p>
    <% } %>
    <p><%= item.about %></p>
    <p>Name: <%= item.fullname %></p>

        <% if(user.isAdmin || user.username === item.username) { %>
            <div class="row-fluid">
                <div class="span9 well">
                <small><a href="/user/profile/<%= item.username %>/edit" class="btn" style="width: 20%;"><i class="iconic-document"></i><strong>Edit User</strong></a></small>
                    <% if(user.isAdmin) { %>
                        <small><a href="/user/profile/<%= item.username %>/delete" class="btn" style="width: 20%;"><i class="iconic-trash"></i><strong>Delete User</strong></a></small>
                        <% if(item.locked) { %>
                            <small><a href="/user/profile/<%= item.username %>/unlock" class="btn" style="width: 20%;"><i class="iconic-unlock"></i><strong>Unlock User</strong></a></small>
                        <% } else {%>
                            <small><a href="/user/profile/<%= item.username %>/lock" class="btn" style="width: 20%;"><i class="iconic-lock"></i><strong>Lock User</strong></a></small>
                        <% } %>
                        <small><a href="/user/list" class="btn" style="width: 20%;"><i class="iconic-list"></i><strong>User List</strong></a></small>
                    <% } %>
                </div>
            </div>
        <% } %>
</div>