<aside id="activity">
	<legend>Activities &amp; News</legend>
	<ul id="activity-stream">
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
		<li>
			<div class="activity-img pull-left"><img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="img-circle"></div>
			<div class="activity-user">Kelly:</div>
			<div class="activity-text">We had a great and productive day today. Looking forward to be here tomorrow.</div>
		</li>
	</ul>
</aside>

<aside class="sidePanelItem">
    <!-- <%- tagcloud %> -->
</aside>