<aside>
	<h4>Activities &amp; News</h4>
	<hr>
	<img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="pull-left img-circle">
	<p><strong>Kelly:</strong> We had a great and productive day today. Looking forward to be here tomorrow.</p>
	<hr>
	<img src="http://placehold.it/50x50/7F8C8D/fff/&amp;text=B" class="pull-left img-circle">
	<p><strong>Ben:</strong> Good content brings good projects. Good people brings good content.</p>
	<hr>
	<img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=M" class="pull-left img-circle">
	<p><strong>Michael:</strong> Don't cry because it's over, smile because it happened.</p>
	<hr>
	<img src="http://placehold.it/50x50/7F8C8D/fff/&amp;text=J" class="pull-left img-circle">
	<p><strong>Jack:</strong> Those who mind don't matter, and those who matter don't mind.</p>
	<hr>
	<img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=K" class="pull-left img-circle">
	<p><strong>Kelly:</strong> Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.</p>
	<hr>
	<img src="http://placehold.it/50x50/7F8C8D/fff/&amp;text=J" class="pull-left img-circle">
	<p><strong>Jennifer:</strong> A room without books is like a body without a soul.</p>
	<hr>
	<img src="http://placehold.it/50x50/95A5A6/fff/&amp;text=A" class="pull-left img-circle">
	<p><strong>Allison:</strong> I love ecrafting people. My project was extremely interesting, thanks!</p>
	<hr>
	<img src="http://placehold.it/50x50/7F8C8D/fff/&amp;text=M" class="pull-left img-circle">
	<p><strong>Mitchell:</strong> A room without books is like a body without a soul.</p>
	<hr>
</aside>

<aside class="sidePanelItem aboutMe">
    <!-- Dynamic section content -->
    <%- about %>
</aside>

<aside class="sidePanelItem">
    <h3><%- t('Navigation') %></h3>
    <nav class="primary">
        <%- getMenu('primary') %>
    </nav>
</aside>

<aside class="sidePanelItem">
    <%- tagcloud %>
</aside>

<aside class="sidePanelItem">
    <%- side %>
</aside>
