<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="put your site description here">
	<meta name="keywords" content="put your site keywords here">
	<title>Clean Slate</title>

	<%- styles %>
	<%- scripts %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
	        	<div class="container">
				    <a class="brand" id="logo" href="#">
					  <img class="bottom" src="images/e-logo-1.png">
				    </a>
				    <ul class="nav">
				      <li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
						<li class=""><a href="#tab2" data-toggle="tab">About</a></li>
						<li class=""><a href="#tab3" data-toggle="tab">Current Call</a></li>
						<li class=""><a href="#tab4" data-toggle="tab">Locations</a></li>
						<li class=""><a href="#tab5" data-toggle="tab">Timeline</a></li>
						<li class=""><a href="#tab6" data-toggle="tab">Browse</a></li>
						<li><a href="user/login" role="button" class="btn-mini" data-toggle="modal">Login</a></li>
				    </ul>
					<input type="search" placeholder="Enter search term" data-provide="typeahead" id="search">
			  </div>
		  </div>
    </div>
    <br><br><br>

<div class="container">
      <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <%- admin %>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>


	<div id="messages" class="row-fluid">
		<div span="12">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%- messages %>
		</div>
	</div>
	<nav class="row-fluid">
		<%- getMenu('adminToolbar') %>
	</nav>
	<div class="row-fluid">
		<div class="span8">
			<!--PAGE_BODY_START-->
			<%- body %>
			<!--PAGE_BODY_END-->
		</div>
		<div class="span4">
			<%- sidePanel %>
		</div>
	</div>
	<footer class="row-fluid">
		<%- footer %>
	</footer>
</div>
</body>
</html>
