	<div class="hero-unit">
		<h3>About</h3>
		<p>"eCrafting Circles" is an online community associated with a group located in Philadelphia, Pennsylvania, USA. The group brings together expertise from learning sciences, digital media design, computer science and informal science education. eCrafting Circles integrate engineering and technology into science education using e-textiles to catalyze online creative collectives.</p>

		<p>With eCrafting Circles, we want to bring together groups with very diverse participant groups, ages 8 to 80; develop an online community for sharing eTextile designs; and provide a new model for public science events that can include groups inside and outside of schools and science museums and could be scaled up locally and nationwide.</p>
	</div>
	<div class="row-fluid">
		<!-- <div class="span12"></div> -->
	<!-- <div class="span12 row"><h5>Contact</h5></div> -->
	<div class="span4">
		<strong>Yasmin Kafai, Ed.D.</strong><br>
		kafai@upenn.edu <br>
		Principal Investigator <br>
		University of Pennsylvania <br> 
		Graduate School of Education
	</div>
	<div class="span4">
		<strong>Karen Elinich, Ed.D.</strong><br>
		kelinich@fi.edu	<br>
		Co-Principal Investigator <br>
		The Franklin Institute <br> 
		Learning Technologies
	</div>
	<div class="span4">
		<strong>Orkan Telhan, MFA</strong><br>
		otelhan@design.upenn.edu<br>
		Co-Principal Investigator <br>
		University of Pennsylvania <br> 
		School of Design
	</div>
</div>