<div class="container">
    <legend><%- t('Calls') %></legend>

    <ul id="callsList" class="browse-list">
             
    </ul>
</div>

<textarea id="callsListItem" class="template">
    <li class="span4 box browse-box pagination-centered">
        <div class="browse-img img-circle">
            <img src="/api/media/{{image}}" class="img-circle" />
        </div>
        <div class="browse-name"><h4><i class="icon-edit"></i><a href='/circle/show/{{id}}'>{{name}}</a></h4></div>
        <div class="browse-text">{{description}}</div>
    </li>
</textarea>

<script src="/js/ecr.page.call.list.js"></script>
<script type="text/javascript">
//<![CDATA[
ecr.load();
$(document).ready(function () {
    ecr.page = new ecr.page.Page();
    ecr.page.initialize();
});
//]]>
</script>
