<div class="row-fluid">
    <legend><%- t('Calls') %></legend>
        <!-- <div class="pull-right">
            <a href="/circles/edit" class="btn"><i class="icon-edit"></i> <strong>Create a Circle</strong></a>
        </div> -->
    </legend>
    <ul id="callsList" class="browse-list">
    </ul>
</div>

<textarea id="callsListItem" class="template">
    <li class="span3 box browse-box pagination-centered">
        <div class="browse-name"><a href='/calls/show/{{_id}}'>{{name}}</a></div>
        <div class="browse-img img-circle">
            <a href='/circles/show/{{_id}}'><img src="/api/media/{{image}}" class="img-circle" /></a>
        </div>
        <div class="browse-text">{{description}}</div>
    </li>
</textarea>

<script src="/js/ecr.page.call.list.js"></script>
<script type="text/javascript">
//<![CDATA[
ecr.load();
$(document).ready(function () {
    ecr.page = new ecr.page.Page();
    ecr.page.initialize();
});
//]]>
</script>
