<script type="text/javascript"> 

	if (typeof (ecr.page) == 'undefined') {
		ecr.page = {};
	};


	ecr.page.Page = function() {
		var apiWrapper = new ecr.ApiWrapper();

		return {
			doDelete: function() {
				bootbox.confirm("Are you sure you want to delete call '<%- call.name %>'?", function(confirmed) {
					if (confirmed) {
						apiWrapper.deleteCall('circles/<%- circle._id %>/calls/<%- call._id %>/', 
							function (data, jqXhr) {
								ecr.app.redirectWithSuccessMessage('/circles/show/<%- circle._id %>/', "Call '<%- call.name %>' deleted.");
							}
						);
					}
				}); 
			},
		};
	};

</script> 

<div class='circle'>
	<a href='/circles/show/<%- circle._id %>'><%- circle.name %></a> >> <%- call.name %>
	<legend><%- call.name %>
		<div class="pull-right">
			<!-- <a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a> -->
			<a href='/circles/show/<%- circle._id %>/' class="btn"><i class="icon-eye-open"></i> <strong>Go to Circle</strong></a>
			<%
			if (canEdit) {
			%>
			<a href='/circles/<%- circle._id %>/calls/edit/<%- call._id %>/' class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
			<a href="#" onclick='ecr.page.doDelete()' class="btn"><i class="icon-trash"></i><strong>Delete</strong></a>
			<!-- <a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a> -->
			<%
			}
			%>
		</div>
	</legend>

	<div class="row-fluid">
		<div class="span8">
			<table class="table table-striped">
				<tr>
					<th><%- t('Name') %></th>
					<td><%- call.name %></td>
				</tr>
				<%
				if (call.image) {
					%>
					<tr>
						<th><%- t('Image') %></th>
						<td><img src="/api/media/<%- call.image %>" /></td>
					</tr>
					<%
				}
				%>
				<tr>
					<th><%- t('Owner') %></th>
					<td><a href='/user/profile/<%- call.owner %>'><%- call.owner %></a></td>
				</tr>
				<tr>
					<th><%- t('Description') %></th>
					<td><%- call.description %></td>
				</tr>
				<%
				if (call.attachment) {
					%>
					<tr>
						<th><%- t('Attachment') %></th>
						<td><a href="/api/media/<%- call.attachment %>">Download</a></td>
					</tr>
					<%
				}
				%>
				<tr>
					<th><%- t('Materials') %></th>
					<td><%- call.materials %></td>
				</tr>
				<tr>
					<th><%- t('Location') %></th>
					<td><%- call.location %></td>
				</tr>
				<tr>
					<th><%- t('Date') %></th>
					<td><%- call.date %></td>
				</tr>
			</table>
		</div>
		<div class="span4 well">
			<h4>Calls and Projects</h4>
			<a href='/circles/<%- circle._id %>/calls/<%- call._id %>/projects/edit/' class="btn"><i class="icon-bullhorn"></i> <strong>Create a New Project</strong></a>
			<%
			if (call.projects.length == 0) {
				t('No calls defined.')
				} else {
					%>
					<table class="table table-bordered table-hover">
						<%
						call.projects.forEach(function(project) {
							%>
							<tr>
								<td><a href='/projects/show/<%- project._id %>'><%- project.name %></a></td>
								<td><%- call.date %></td>
							</tr>
									<%
									});
									%>
								</table>
								<%
							}
							%>
						</div>
					</div>
				</div>