<div class="container">
    <legend><%- t('Calls') %></legend>

    <ul class="browse-list">
       <%
        items.forEach(function(item) {
        %>

        <li class="span3 box browse-box pagination-centered">
            <div class="browse-name"><a href='/circle/show/<%- item._id %>'><%- item.name %></a></div>
            <div class="browse-text"> <%- item.description %></div>
        </li>
        <%
        });

        if(!items) {
        %>
        <li><%- t('No calls defined.') %></td>
        <%
        }
        %>
         
    </ul>
</div>

