
<form id="FORM" name="FORM" method="post" action="<%- action %>" class="form-horizontal">
	<input type="hidden" id="id" name="id" value="<%- call.id %>"  />
	<legend>
		<% if(call.id) { %>
		Edit Circle Call
		<% } else { %>
		Create a new Call
		<% } %>
	</legend>

	<fieldset class="form-fields tab-content">
		<h3>Call</h3>

		<div class="control-group field-type-text" id="circle_name-wrapper">
			<label class="control-label">Circle Name:</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input"><%- circle.name %></span>
			</div>
		</div>


		<div class="control-group field-type-text" id="call_name-wrapper">
			<label class="control-label" for="name">Name:</label>
			<div class="controls">
				<input type="text" class="text" name="name" id="name" value='<%- call.name %>' data-object="call" />
				<p class="help-block">Enter the name of the call.</p>
			</div>
		</div>

		<div class="control-group field-type-file" id="call_image-wrapper">
			<label class="control-label" for="fileupload">Image:</label>
			<div class="controls">
				<input type="hidden" id="image" name="image" value="<%- call.image %>" data-object="call" />

				<% if(call.image) { %>
				<div class="fileupload fileupload-exists" data-provides="fileupload">
					<% } else { %>
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<% } %>
						<div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" /></div>
						<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">
							<% if(call.image) { %>
							<img src="/api/media/<%- call.image %>" />
							<% } else { %>
							<img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
							<% } %>
						</div>
						<span class="btn btn-file">
							<span class="fileupload-new">Select image</span>
							<span class="fileupload-exists">Change</span>
							<input id="fileupload" name="files[]" type="file" />
						</span>
						<a href="javascript:void()" class="removebutton btn fileupload-exists" data-dismiss="fileupload">Remove</a>
					</div>
					<div id="progress" class="progress progress-striped active hidden">
						<div class="bar" style="width: 0;"></div>
					</div>

					<p class="help-block">Enter an image for call.</p>
				</div>
			</div>

			<div class="control-group field-type-textarea" id="call_description-wrapper">
				<label class="control-label" for="description">Description:</label>
				<div class="controls">
					<textarea class="textarea" rows="10" name="description" id="description" data-object="call"><%- call.description %></textarea>

					<p class="help-block">Enter a description.</p>
				</div>
			</div>

			<div class="control-group field-type-text" id="call_materials-wrapper">
				<label class="control-label" for="materials">Materials:</label>

				<div class="controls">
					<input type="text" class="text" name="materials" id="materials" value="<%- call.materials %>" data-object="call" data-provide="tokenizer" />

					<p class="help-block">Enter materials for this call.</p>
				</div>
			</div>

			<div class="control-group field-type-text" id="call_location-wrapper">
				<label class="control-label" for="location">Location:</label>

				<div class="controls">
					<input type="text" class="text" name="location" id="location" value="<%- call.location %>" data-object="call" />

					<p class="help-block">Enter the call location.</p>
					<input type="hidden" name="lat" id="lat" value="<%- call.lat %>" data-object="call" />
					<input type="hidden" name="lng" id="lng" value="<%- call.lng %>" data-object="call" />
				</div>
			</div>

			<div class="control-group field-type-text" id="call_date-wrapper">
				<label class="control-label" for="date">Date:</label>

				<div class="controls">
					<input type="text" class="text" name="date" id="date" value="<%- (call && call.date) ? call.date : Date.now() %>" data-object="call" />

					<p class="help-block">Enter the call date.</p>
				</div>
			</div>

			<% if(call.id) { %>
			<a href="/circles/<%- circle._id %>/calls/<%- call._id %>/projects/edit">Create Project</a>
			<% } %>
			<%
			if (!call.projects || (call.projects.length == 0)) {
				%>
				<%- t('No projects defined.') %>
				<%
				} else {
					%>
					<table class="table table-bordered table-hover">
						<%
						call.projects.forEach(function(project) {
							%>
							<tr>
								<td><a href='/circles/<%- circle._id %>/calls/<%- call._id %>/projects/edit/<%- project._id %>'><%- project.name %></a></td>
								<td><%- project.date %></td>
							</tr>
							<%
							});
							%>
						</table>
						<%
					}
					%>   

					<div class="form-actions">
						<input type="submit" class="submit btn btn-primary" name="submit" id="submit" value="Save Call" /> <input type="button" class="button btn" name="cancel"
						onclick='window.location="/circle"' id="cancel" value="Cancel" />
					</div>
				</fieldset>
			</form>

	<script src="/js/ecr.page.call.edit.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
