<script type="text/javascript"> 

	if (typeof (ecr.page) == 'undefined') {
		ecr.page = {};
	};


	ecr.page.Page = function() {
		var apiWrapper = new ecr.ApiWrapper();

		return {
			doJoin: function() {
				bootbox.confirm("Are you sure you want to join circle '<%- circle.name %>'?", function(confirmed) {
					if (confirmed) {
						apiWrapper.apiCall('circles/<%- circle._id %>/join', JSON.stringify({ dummy: 'data' }), 'POST', 
							function (data, jqXhr) {
								ecr.app.userSuccess('Your request to join this circle was sent to the circle owner.');
							}
						);
					}
				}); 
			},
			
			doDelete: function() {
				bootbox.confirm("Are you sure you want to delete circle '<%- circle.name %>'?", function(confirmed) {
					if (confirmed) {
						apiWrapper.deleteCall('circles/<%- circle._id %>/', 
							function (data, jqXhr) {
								ecr.app.redirectWithSuccessMessage('/circles/list/', "Circle '<%- circle.name %>' deleted.");
							}
						);
					}
				}); 
			}
		};
	};

</script> 

<div class='circle'>
	<legend><%- circle.name %>
		<div class="pull-right">
			<!-- <a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a> -->
			<%
			if (canJoinCircle) {
			%>
				<a href='#' onclick='ecr.page.doJoin()' class="btn"><i class="icon-plus-sign"></i> <strong>Join this Circle</strong></a>
			<%
			}
			%>
			<%
			if (canEdit) {
			%>
			<a href='/circles/edit/<%- circle._id %>/' class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
			<a href="#" onclick='ecr.page.doDelete()' class="btn"><i class="icon-trash"></i><strong>Delete</strong></a>
			<%
			}
			%>
			<!-- <a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a> -->
		</div>
	</legend>

	<div class="row-fluid">
		<div class="span8">
			<table class="table table-striped">
		<tr>
			<th><%- t('Name') %></th>
			<td><%- circle.name %></td>
		</tr>
		<%
		if (circle.image) {
			%>
			<tr>
				<th><%- t('Image') %></th>
				<td><img src="/api/media/<%- circle.image %>" /></td>
			</tr>
			<%
		}
		%>
		<tr>
			<th><%- t('Description') %></th>
			<td><%- circle.description %></td>
		</tr>
		<tr>
			<th><%- t('Tags') %></th>
			<td><%- circle.tags %></td>
		</tr>
		<tr>
			<th><%- t('Members') %></th>
			<td><%- circle.members %></td>
		</tr>
		<tr>
			<th><%- t('Location') %></th>
			<td><%- circle.location %></td>
		</tr>
	</table>
		</div>
		<div class="span4 well">
<h4>Calls and Projects</h4>
	<a href='/circles/<%- circle._id %>/calls/edit/' class="btn"><i class="icon-bullhorn"></i> <strong>Create a New Call</strong></a>
		<%
		if (circle.calls.length == 0) {
			t('No calls defined.')
			} else {
				%>
				<table class="table table-bordered table-hover">
					<%
					circle.calls.forEach(function(call) {
						%>
						<tr>
							<td><a href='/circles/<%- circle._id %>/calls/edit/<%- call._id %>'><%- call.name %></a></td>
							<td><%- call.date %></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<%
								if (call.projects.length == 0) {
									t('No project defined.')
									} else {
										%>
										<table class="table table-bordered table-hover">
											<%
											call.projects.forEach(function(project) {
												%>
												<tr>
													<td><a href='/circles/<%- circle._id %>/calls/<%- call._id %>/projects/edit/<%- project._id %>'><%- project.name %></a></td>
												</tr>
												<%
												});
												%>
											</table>
											<%
										}
										%>
									</td>
								</tr>
								<%
								});
								%>
							</table>
							<%
						}
						%>
		</div>
	</div>
	


	


					</div>