<div class="container">
    <legend><%- t('Circles') %></legend>
    <ul class="browse-list">
       <%
        items.forEach(function(item) {
        %>

        <li class="span3 box browse-box pagination-centered">
            <div class="browse-img img-circle"><img src="/api/media/<%- item.image %>" class="img-circle"></div>
            <div class="browse-name"><h6><a href='/circle/show/<%- item._id %>'><%- item.name %></a></h6></div>
            <div class="browse-text"> <%- item.description %></div>
            <div class="browse-tags label"><%- item.tags %></div>
        </li>
        <%
        });

        if(!items) {
        %>
        <li><%- t('No circles defined.') %></td>
        <%
        }
        %>
         
    </ul>
</div>

