
<form id="FORM" name="FORM" method="post" action="<%- action %>" class="form-horizontal">
	<input type="hidden" id="id" name="id" value="<%- circle.id %>" />
	<legend>
		<% if(circle.id) { %>
		Edit Circle
		<% } else { %>
		Create a new Circle
		<% } %>
	</legend>

	<fieldset class="form-fields tab-content">
		<!-- <h3>Circle</h3> -->

		<div class="control-group field-type-text" id="circle_name-wrapper">
			<label class="control-label" for="name">Name:</label>
			<div class="controls">
				<input type="text" class="text" name="name" id="name" value="<%- circle.name %>" data-object="circle" /> 
				<p class="help-block">Enter the name of the circle.</p>
			</div>
		</div>

		<div class="control-group field-type-file" id="circle_image-wrapper">
			<label class="control-label" for="fileupload">Image:</label>
			<div class="controls">
				<input type="hidden" id="image" name="image" value="<%- circle.image %>" data-object="circle"/>

				<% if(circle.image) { %>
				<div class="fileupload fileupload-exists" data-provides="fileupload">
					<% } else { %>
					<div class="fileupload fileupload-new" data-provides="fileupload">
						<% } %>
						<div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" /></div>
						<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">
							<% if(circle.image) { %>
							<img src="/api/media/<%- circle.image %>" />
							<% } else { %>
							<img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
							<% } %>
						</div>
						<span class="btn btn-file">
							<span class="fileupload-new">Select image</span>
							<span class="fileupload-exists">Change</span>
							<input id="fileupload" name="files[]" type="file" accept="image/*" />
						</span>
						<a href="javascript:void()" class="removebutton btn fileupload-exists" data-dismiss="fileupload">Remove</a>
					</div>
					<div id="progress" class="progress progress-striped active hidden">
						<div class="bar" style="width: 0;"></div>
					</div>

					<p class="help-block">Enter an image for circle.</p>
				</div>
			</div>

			<div class="control-group field-type-textarea" id="circle_description-wrapper">
				<label class="control-label" for="description">Description:</label>
				<div class="controls">
					<textarea class="textarea" rows="10" name="description" id="description"  data-object="circle"><%- circle.description %></textarea>

					<p class="help-block">Enter a description.</p>
				</div>
			</div>


			<div class="control-group field-type-text" id="circle_location-wrapper">
				<label class="control-label" for="location">Location:</label>

				<div class="controls">
					<input type="text" class="text" name="location" id="location" value="<%- circle.location %>" data-object="circle" />

					<p class="help-block">Enter the circle location.</p>
					<input type="hidden" name="lat" id="lat" value="<%- circle.lat %>" data-object="circle" />
					<input type="hidden" name="lng" id="lng" value="<%- circle.lng %>" data-object="circle" />
				</div>
			</div>

			

					<div class="control-group field-type-text" id="circle_members-wrapper">
						<label class="control-label" for="members">Members:</label>

						<div class="controls">
							<input type="text" class="text" name="members" id="members" value="<%- circle.members %>" data-object="circle"  data-provide="tokenizer" />

							<p class="help-block">Enter circle members delimited by comma.</p>
						</div>
					</div>

					<div class="control-group field-type-text" id="circle_links-wrapper">
						<label class="control-label" for="links">Links:</label>

						<div class="controls">
							<input type="text" class="text" name="links" id="links" value="<%- circle.links %>" data-object="circle"  data-provide="tokenizer" />

							<p class="help-block">Enter circle links delimited by comma.</p>
						</div>
					</div>

					<div class="control-group field-type-text" id="circle_tags-wrapper">
						<label class="control-label" for="tags">Tags:</label>

						<div class="controls">
							<input type="text" class="text" name="tags" id="tags" value="<%- circle.tags %>" data-object="circle" data-provide="tokenizer" />

							<p class="help-block">Enter comma delimited tags for this circle.</p>
						</div>
					</div>

					<% if(circle.id) { %>
			<a href="/circles/<%- circle._id %>/calls/edit">Create Call</a>
			<%
			if (!circle.calls || (circle.calls.length == 0)) {
				%>
				<%- t('No calls defined.') %>
				<%
				} else {
					%>
					<table class="table table-bordered table-hover">
						<%
						circle.calls.forEach(function(call) {
							%>
							<tr>
								<td><a href='/circles/<%- circle._id %>/calls/edit/<%- call._id %>'><%- call.name %></a></td>
								<td><%- call.date %></td>
							</tr>
							<%
							});
							%>
						</table>
						<%
					}
				} %>

					<div class="form-actions">
						<input type="submit" class="submit btn btn-primary" name="submit" id="submit" value="Save Circle" /> <input type="button" class="button btn" name="cancel"
						onclick='window.location="/circles"' id="cancel" value="Cancel" />
					</div>
				</fieldset>
			</form>

	<script src="/js/ecr.page.circle.edit.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
