<div class='circle'>
    <h1><%- item.name %></h1>
    <table>
        <tr>
            <th><%- t('Name') %></th>
            <td><%- item.name %></td>
        </tr>
        <tr>
            <th><%- t('Description') %></th>
            <td><%- item.description %></td>
        </tr>
        <tr>
            <th><%- t('Tags') %></th>
            <td><%- item.tags %></td>
        </tr>
        <tr>
            <th><%- t('Location') %></th>
            <td><%- item.location %></td>
        </tr>
    </table>
</div>