<div class="template-module">
    <h2><%- t('Circles') %></h2>

    <ul class="browse-list">
       <%
        items.forEach(function(item) {
        %>

        <li class="span3">
            <div class="browse-img pull-left"><img src="/api/media/<%- item.image %>" class="img-circle"></div>
            <div class="browse-name"><a href='/circle/show/<%- item._id %>'><%- item.name %></a></div>
            <div class="browse-text"> <%- item.description %></div>
        </li>
        <%
        });

        if(!items) {
        %>
        <li><%- t('No circles defined.') %></td>
        <%
        }
        %>
         
    </ul>
</div>

