<div class="hero-unit">
	<p><strong>ecrafting</strong> team has been busy this past year, completely revamping the inner workshops of 
		our system. More workshops, better tools and better spaces.</p>
	<p><a href="#" class="btn btn-primary btn-large btn-block">Join This Call</a></p>
</div>
<ul class="thumbnails">
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/09D/fff/&amp;text=DC" alt="3 column placeholder">
			<figcaption>
				<h5>Washington</h5>
				<p>This is a short caption. It contains some technical language like 
					domain-specific terms like <a href="#" class="tooltips" data-placement="top" data-trigger="hover" data-title="HTML: Hyper Text Markup Language" data-original-title="" title="">HTML</a></p>
				<p>
					<a href="#" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/099/fff/&amp;text=NY" alt="3 column placeholder">
			<figcaption>
				<h5>Brooklyn</h5>
				<p>This is a short caption. It contains some technical language like 
					domain-specific terms like <a href="#" class="tooltips" data-placement="top" data-trigger="hover" data-title="HTML: Hyper Text Markup Language" data-original-title="" title="">HTML</a></p>
				<p>
					<a href="#" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/D9D/fff/&amp;text=PA" alt="3 column placeholder">
			<figcaption>
				<h5>UPenn</h5>
				<p>This is a short caption. It contains some technical language like 
					domain-specific terms like <a href="#" class="tooltips" data-placement="top" data-trigger="hover" data-title="HTML: Hyper Text Markup Language" data-original-title="" title="">HTML</a></p>
				<p>
					<a href="#" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
</ul>
