<div class="hero-unit">
	<!-- <p><strong>ecrafting</strong> team has been busy this past year, completely revamping the inner workshops of our system. More workshops, better tools and better spaces.</p> -->

	<div id="map" style="width: 100%; height: 300px"></div>
	<br />

	<p><a href="circles/list" class="btn btn-primary btn-large btn-block">Create a new Circle &amp; Call</a></p>
	
</div>
<ul class="thumbnails">
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/09D/fff/&amp;text=PA" alt="3 column placeholder">
			<figcaption>
				<h5>Philadelphia</h5>
				<p>
				<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/099/fff/&amp;text=MA" alt="3 column placeholder">
			<figcaption>
				<h5>Boston</h5>
				<!-- <p>This is a short caption. It contains some technical language like 
					domain-specific terms like.
				<p> -->
					<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/D9D/fff/&amp;text=IN" alt="3 column placeholder">
			<figcaption>
				<h5>Bloomington</h5>
				<!-- <p>This is a short caption. It contains some technical language like 
					domain-specific terms like.
				<p> -->
					<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	</ul>
	<ul class="thumbnails">
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/05e/fff/&amp;text=UT" alt="3 column placeholder">
			<figcaption>
				<h5>Logan</h5>
				<!-- <p>This is a short caption. It contains some technical language like 
					domain-specific terms like.
				<p> -->
					<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/333/fff/&amp;text=NY" alt="3 column placeholder">
			<figcaption>
				<h5>Brooklyn</h5>
				<!-- <p>This is a short caption. It contains some technical language like 
					domain-specific terms like.
				<p> -->
					<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
	<li class="span4">
		<figure>
			<img src="http://placehold.it/300x200/055/fff/&amp;text=DC" alt="3 column placeholder">
			<figcaption>
				<h5>Washington</h5>
				<!-- <p>This is a short caption. It contains some technical language like 
					domain-specific terms like.
				<p> -->
					<a href="/calls/list" class="btn btn-primary popover-link" data-original-title="">Join</a>
				</p>
			</figcaption>
		</figure>
	</li>
</ul>



<script>

		var map = L.map('map').setView([39.95, -75.14], 7);

		L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '',
			key: 'BC9A493B41014CAABB98F0471D759707',
			styleId: 22677
			// attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		$.getJSON( "/api/calls?apikey=webclient", function( data ) {
	  
		  $.each( data, function( key, val ) {

		  	console.log(val)

		  	L.marker([val.lat, val.lng]).addTo(map)
			.bindPopup("<b>"+ val.name +"</b><br />"+val.location)
			.openPopup();

		  })

		})


		var popup = L.popup();

		// function onMapClick(e) {
		// 	popup
		// 		.setLatLng(e.latlng)
		// 		.setContent("You clicked the map at " + e.latlng.toString())
		// 		.openOn(map);
		// }

		// map.on('click', onMapClick);

	</script>


