
<form id="FORM" name="FORM" method="post" enctype="multipart/form-data" action="<%- action %>" class="form-horizontal">
 <input type="hidden" value="FORM" name="form[id]" /><legend>Edit Call Project</legend>

 <fieldset class="form-fields tab-content">
   <h3>Project</h3>

   <div class="control-group field-type-text" id="call_name-wrapper">
     <label class="control-label">Call Name:</label>
     <div class="controls">
        <span class="input-xlarge uneditable-input"><%- call.name %></span>
     </div>
   </div>


   <div class="control-group field-type-text" id="project_name-wrapper">
     <label class="control-label" for="project[name]">Name:</label>
     <div class="controls">
       <input type="text" class="text" name="project[name]" id="project[name]" value="<%- project.name %>" />
       <p class="help-block">Enter the name of the project, it must be unique.</p>
     </div>
   </div>

   <div class="control-group field-type-file" id="project_image-wrapper">
     <label class="control-label" for="fileupload">Image:</label>
     <div class="controls">
        <input type="hidden" id="project[image]" name="project[image]" value="<%- project.image %>" />

        <% if(project.image) { %>
        <div class="fileupload fileupload-exists" data-provides="fileupload">
        <% } else { %>
        <div class="fileupload fileupload-new" data-provides="fileupload">
        <% } %>
        <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" /></div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">
        <% if(project.image) { %>
          <img src="/api/media/<%- project.image %>" />
        <% } else { %>
          <img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
        <% } %>
        </div>
          <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>
            <span class="fileupload-exists">Change</span>
            <input id="fileupload" name="files[]" type="file" />
          </span>
        <a href="javascript:void()" class="removebutton btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
        <div id="progress" class="progress progress-striped active hidden">
          <div class="bar" style="width: 0;"></div>
        </div>
        
       <p class="help-block">Enter an image for project.</p>
     </div>
   </div>

   <div class="control-group field-type-textarea" id="project_description-wrapper">
     <label class="control-label" for="project[description]">Description:</label>
     <div class="controls">
       <textarea class="textarea" rows="10" name="project[description]" id="project[description]"><%- project.description %></textarea>

       <p class="help-block">Enter a description.</p>
     </div>
   </div>

   <div class="control-group field-type-text" id="project_location-wrapper">
     <label class="control-label" for="project[location]">Location:</label>

     <div class="controls">
       <input type="text" class="text" name="project[location]" id="project[location]" value="<%- project.location %>" />

       <p class="help-block">Enter the project location.</p>
     </div>
   </div>

    <label class="checkbox" for="project[approved]">
      <input type="checkbox"> Approved?
      <p class="help-block">Project is approved.</p>
    </label>

   <div class="form-actions">
     <input type="submit" class="submit btn btn-primary" name="submit" id="submit" value="Save Call" /> <input type="button" class="button btn" name="cancel"
     onclick='window.location="/circle"' id="cancel" value="Cancel" />
   </div>
 </fieldset>
</form>

<script src="/js/ecr.page.project.edit.js"></script>
<script type="text/javascript">
  //<![CDATA[
  ecr.load();
  $(document).ready(function () {
    ecr.page = new ecr.page.Page();
    ecr.page.initialize();
  });
  //]]>
</script>
