
<div class='circle'>
	<legend><%- project.name %> in <%- call.name %> in <%- circle.name %>
		<div class="pull-right">
			<!-- <a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a> -->
			<a href='/circles/<%- circle._id %>/calls/<%- call._id %>/projects/edit/<%- project._id %>/' class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
			<a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
			<!-- <a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a> -->
		</div>
	</legend>

	<div class="row-fluid">
		<div class="span8">
			<table class="table table-striped">
		<tr>
			<th><%- t('Name') %></th>
			<td><%- project.name %></td>
		</tr>
		<tr>
			<th><%- t('Description') %></th>
			<td><%- project.description %></td>
		</tr>
		<tr>
			<th><%- t('Tags') %></th>
			<td><%- project.tags %></td>
		</tr>
		<tr>
			<th><%- t('Location') %></th>
			<td><%- project.location %></td>
		</tr>
	</table>
		</div>
	</div>
	


	


					</div>